.write-message-toolbar {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  max-width: 600px;

  margin: 0 auto;
  background:var(--color-hover);
  align-items: center;
  padding-right:Var(--spacing-1);
  .textarea-wrap {
    .textarea {
      background:var(--color-hover);
      box-shadow: none;
    }
    width: 100%;  
  }
  .icon-hover {
    margin-bottom: var(--spacing-4);
    background:None;
    border:None;
    font-size: 28px;
    width: 70px;
    svg {
      width: 40px;
      padding: 5px;
      height: 40px;
    }
  }
}

.icon-hover {

}